@font-face {
  font-family: "unit";
  src: url(../../assets/Fonts/UnitPro.otf);
}
@font-face {
  font-family: "unit";
  src: url(../../assets/Fonts/UnitPro-Medi.otf);
  font-weight: bold;
}
@font-face {
  font-family: "unit";
  src: url(../../assets/Fonts/UnitPro-Bold.otf);
  font-weight: bolder;
}
