.container {
  .image {
    .whiteCard {
      .caption#whiteCard {
        top: 62%;
        right: 0;
        width: 50%;
      }
      p {
        font-size: 36px;
      }
      .top {
        position: absolute;
        top: 52%;
        right: 0;
        width: 50%;
        text-align: center;
      }
    }
    .street {
      .caption#street {
        top: 20%;
        left: 0;
        width: 50%;

        p.key {
          font-size: 32px;
        }
        p.val {
          color: #79b53b;
        }
      }
    }
  }
}
