@import "./inc/colors";

.tree {
  background-color: $aqua;

  .title {
    font-size: 76px;
    text-align: center;
    text-transform: uppercase;
    line-height: 92px;
    color: $navy;
    margin-top: 150px;
  }
  .val {
    font-size: 200px;
    text-align: center;
    text-transform: uppercase;
    line-height: 240px;
    color: white;
    margin-top: 450px;
  }
}

.car {
  background-color: $navy;
  color: white;
  img {
    height: fit-content;
  }

  .title {
    font-size: 118px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 141px;
    color: white;
    margin-top: 150px;
    span.small {
      font-weight: 700;
    }
  }
  .subtitle {
    font-size: 118px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 141px;
    color: $aqua;
  }
  .val {
    font-size: 125px;
    text-align: center;
    text-transform: uppercase;
    line-height: 150px;
    color: white;
    margin-top: auto;
  }
  .date {
    font-size: 60px;
    text-align: center;
    font-weight: 400;
    line-height: 72px;
    color: white;
    margin-bottom: 150px;
  }
}

.cloud {
  background-color: $navy;

  img {
    margin-bottom: 400px !important;
  }

  .title {
    font-size: 325px;
    text-align: center;
    text-transform: uppercase;
    line-height: 260px;
    color: white;
    margin-top: 200px;
    span.small {
      font-weight: 700;
    }
  }
  .subtitle {
    font-size: 105px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 125px;
    color: white;
    margin-top: -30px;
  }
  .val {
    font-size: 159px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 190px;
    color: white;
    margin-top: auto;
    margin-bottom: -20px;
  }
  .foot {
    font-size: 117px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 141px;
    color: $aqua;
    margin-top: auto;
    margin-bottom: 150px;
  }
}

.cars {
  background-color: $aqua;
  h1.title {
    font-size: 117px;
    text-align: center;
    text-transform: uppercase;
    line-height: 141px;
    color: white;
    span.small {
      font-weight: 900;
    }
  }

  p.title {
    font-size: 101px;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    line-height: 121px;
    color: white;
  }
  p.val {
    font-size: 68px;
    text-align: center;
    text-transform: uppercase;
    line-height: 81px;
    color: $navy;
  }
}
